<html>
    <head>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"
                integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">        
        <title>Chat</title>
    </head>
    <body>
        <div class="container">
            <div class="row mx-md-n5">
              <div class="col-sm px-md-n5">
                <div class="overflow-auto" style="height:300px">
                    <ul id="messages" class="list-group">
                        <li class='list-group-item'><a href="chat-client.html#chat1">Chatroom 1</a></li>
                        <li class='list-group-item'><a href="chat-client.html#chat2">Chatroom 2</a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </form>

        <script language="javascript">
            
        </script>
    </body>
</html>