<html>
    <head>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"
                integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">        
        <title>Chat</title>
    </head>
    <body>
        <div class="container">
            <div class="row mx-md-n5">
              <div class="col-sm px-md-n5">
                <div class="overflow-auto" style="height:300px">
                    <ul id="messages" class="list-group"></ul>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="mr-3">Type Message:</label>
                    <textarea class="form-control" id="message" rows="3"></textarea>
                    <button id="send" class="btn btn-primary btn-lg btn-block">Send</button>
                </div>
              </div>
              <div class="col-sm px-md-n5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" id="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
            </div>
          </div>
        </form>

        <script language="javascript">
            var $messages = $("#messages"),
                $send = $("#send"),
                $message = $("#message"),
                connection = new WebSocket('ws://test:1234@localhost:8080/chat')
            $send.prop("disabled",true)

            connection.onopen = function () {
                $send.prop("disabled",false)
                $messages.append($("<li class='list-group-item'>Connected</li>"))
                $send.on('click', function() {
                    var text = $message.val()
                    $message.val("")
                    connection.send(text)
                })
            }
            connection.onerror = function (error) { console.log('WebSocket Error ', error) }
            connection.onmessage = function (event) {
                $messages.append($("<li class='list-group-item'>" + event.data + "</li>"))
            }
        </script>
    </body>
</html>